<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th class="text-center">
        ジャンル検索
      </th>
    </tr>
  </thead>
  <tbody>
    <td>
      <% genres.each do |genre| %>
      <%= link_to genre_path(genre.id) do %>
        <%= genre.name %><br>
      <% end %>
      <% end %>
    </td>
  </tbody>
</table>
