body {
  font-family: 'Hannotate SC','Yu Gothic UI',sans-serif;
}

.image {
  opacity: 0.5;
}

.header-item li a {
  text-decoration: none;
  transition: .3s;
}

.header-item li a:hover {
  text-decoration: none;
  font-size: 18px;
  transition: .3s;
}

.product-link {
  text-align: center;
  line-height: 50px;
  background: lightgrey;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: 0.3s;
}

.product-link:hover {
  text-align: center;
  line-height: 55px;
  background: lightgrey;
  width: 55px;
  height: 55px;
  border-radius: 55%;
  transition: 0.3s;
}

header {
  background-color: #FFDBC9;
}

footer {
  width: 100%;
  margin: 0 auto;
  height: 110px;
  background-color: #FFDBC9;
  text-align: center;
}

.footer-height {
  padding-top: 10px;
}

.info {
  font-size: 40px;
}

.info-list {
  margin-right: 20px;
}

.soldout {
  font-size: 20px;
}

.genre {
  margin: 2em 0;
  border: solid 1px #000;
}

.genre .genre-search {
  background: #FFDBC9;
  padding: 3px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.05em;
  border-bottom: solid 1px #000;
}

.genre-text {
  padding: 15px 20px;
}

.genre-text a {
  text-decoration: none;
  color: #000;
  font-size: 1.1em;
  transition: .3s;
}

.genre-text a:hover {
  text-decoration: none;
  color: #000;
  font-size: 1.2em;
  transition: .3s;
}